<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

</head>
<body>
    <%-include('header.ejs')%>
    
    <section class="topText">
        <h1>ADMİN PANEL</h1>
        <h2>Kullanıcı taleplerini yönetin</h2>
    </section>

    <section class="alisverisListem">
        <h3>Bakiye güncelleme talepleri</h3>    
        <table>
            <tr>
              <th>Kullanıcı</th>
              <th>Miktar</th>
              <th>İşlem</th>
            </tr>
            <% wallet.forEach(wallet => { 
              %>
              <tr>
                <td><%=wallet.userID %></td>
                <td><%=wallet.amount %>₺</td>
                <td>
                  <form action="/verifywallet" method="post">
                    <input type="submit" id="adminIslem" value="ONAYLA">
                    <input type="text" name="_id" id="notVisibleInput" value="<%=wallet._id%>">
                    <input type="text" name="userID" id="notVisibleInput" value="<%=wallet.userID%>">
                  </form>
                </td>
              </tr>
            <% }) %>
            
          </table>
    </section>

    <section class="alisverisListem">
        <h3>Yeni Ürün Talepleri</h3>    
        <table>
            <tr>
              <th>Kullanıcı</th>
              <th>Ürün</th>
              <th>Miktar (KG)</th>
              <th>KG/Fiyat</th>
              <th>İşlem</th>
            </tr>
            <% product.forEach(product => { 
              %>
            <tr>
              <td><%=product.userID %></td>
              <td><%=product.product %></td>
              <td><%=product.amount %> kg</td>
              <td><%=product.price %>₺</td>
                <td>
                  <form action="/verifyproduct" method="post">
                    <input type="submit" id="adminIslem" value="ONAYLA">
                    <input type="text" name="_id" id="notVisibleInput" value="<%=product._id%>">
                  </form>
                </td>
            </tr>
            <% }) %>
          </table>
    </section>

    <section class="alisverisListem">
      <h3>Gerçekleşen Alım-Satımlar</h3>    
      <table>
          <tr>
            <th>Alıcı</th>
            <th>Satıcı</th>
            <th>Ürün</th>
            <th>Miktar</th>
            <th>Toplam Fiyat</th>
            <th>Tarih</th>
          </tr>
          <% trade.forEach(trade => {
            var date = new Date(trade.createdAt);  // dateStr you get from mongodb
              var d = date.getUTCDate();
              var m = date.getUTCMonth()+1;
              var y = date.getUTCFullYear();
              var showTradeDate = d+"/"+m+"/"+y
            %>
          <tr>
            <td><%=trade.buyerID %></td>
            <td><%=trade.sellerID %></td>  
            <td><%=trade.product %></td>
            <td><%=trade.amount %> kg</td>
            <td><%=trade.totalPrice %>₺</td>
            <td><%=showTradeDate%></td>
          </tr>
          <% }) %>
          
        </table>
  </section>

    
</body>
</html>