<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

</head>
<body>
    <%-include('header.ejs')%>
    
    <section class="topText">
        <h1>BORSA</h1>
        <h2>Aradığınız ürünü en uygun fiyata bulun</h2>
    </section>

    <section class="urunAl">
        <h3>Ürün alma isteğinde bulunun</h3>
        <form action="" method="post">
            <input type="text" name="product" id="indexInputText" placeholder="Ürün Adı (Buğday)">
            <input type="number" name="amount" id="indexInputNumber" placeholder="Miktar (50 kg)">
            <input type="submit" value="Talep Oluştur" id="indexInputSubmit">
            <input type="text" name="username" id="notVisibleInput" value="<%=user.username%>">
         </form>
    </section>

    <section class="alisverisListem">
        <h3>Alınacak Ürünler Listesi</h3>    
        <table>
            <tr>
              <th>Ürün</th>
              <th>Miktar</th>
              <th>Tarih</th>
            </tr>
            <% request.forEach(request => {
              var date = new Date(request.createdAt);  // dateStr you get from mongodb
                var d = date.getUTCDate();
                var m = date.getUTCMonth()+1;
                var y = date.getUTCFullYear();
                var showDate = d+"/"+m+"/"+y
              %>
            <tr>
              
              <td><%=request.product %></td>
              <td><%=request.amount %> kg</td>
              <td><%=showDate%></td>
              
            </tr>
            <% }) %>
          </table>
    </section>

    <section class="alisverisListem">
        <h3>Gerçekleşen Alım-Satımlar</h3>    
        <table>
            <tr>
              <th>Alıcı</th>
              <th>Satıcı</th>
              <th>Ürün</th>
              <th>Miktar</th>
              <th>Toplam Fiyat</th>
              <th>Tarih</th>
            </tr>
            <% trade.forEach(trade => {
              var date = new Date(trade.createdAt);  // dateStr you get from mongodb
                var d = date.getUTCDate();
                var m = date.getUTCMonth()+1;
                var y = date.getUTCFullYear();
                var showTradeDate = d+"/"+m+"/"+y
              %>
            <tr>
              <td><%=trade.buyerID %></td>
              <td><%=trade.sellerID %></td>  
              <td><%=trade.product %></td>
              <td><%=trade.amount %> kg</td>
              <td><%=trade.totalPrice %>₺</td>
              <td><%=showTradeDate%></td>
            </tr>
            <% }) %>
          </table>
    </section>

    
</body>
</html>