<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

</head>
<body>
    <%-include('header.ejs')%>
    
    <section class="topText">
        <h1>ÜRÜNLERİM</h1>
        <h2>Ürünlerinizi yönetin</h2>
    </section>

    <section class="urunAl">
        <h3>Yeni ürün ekleme isteğinde bulunun</h3>
        <form action="/myproducts" method="post">
            <input type="text" name="product" id="indexInputText" placeholder="Ürün Adı (Buğday)">
            <input type="number" name="amount" id="indexInputNumber" placeholder="Miktar (50 kg)">
            <input type="number" name="price" id="indexInputNumber" placeholder="KG/Fiyat ₺ (2)">
            <input type="text" name="username" id="notVisibleInput" value="<%=user.username%>">
            <input type="submit" value="Talep Oluştur" id="indexInputSubmit">
         </form>
    </section>

    <section class="alisverisListem">
        <h3>Ürünlerim</h3>    
        <table>
            <tr>
              <th>Ürün</th>
              <th>Miktar</th>
              <th>Fiyat</th>
              <th>Durum</th>
            </tr>
            <% products.forEach(product => { 
              if(!product.verified) 
                var status = 'Onay Bekliyor'
              else 
                var status = "Onaylandı"
              %>
              <tr>
                <td><%=product.product %></td>
                <td><%=product.amount%> kg</td>
                <td><%=product.price%>₺</td>
                <td><%=status%></td>
              </tr>
            <% })%>
            
            
          </table>
    </section>

    

    
</body>
</html>