<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>

</head>
<body>
    <%-include('header.ejs')%>
    
    <section class="topText">
        <h1>CÜZDANIM</h1>
        <h2 id="walletAmount">Güncel bakiye: <%=wallet[0].amount%>₺</h2>
    </section>

    <section class="urunAl">
        <h3>Bakiye günceleme talebinde bulunun</h3>
        <form action="/wallet" method="post">
            <input type="text" name="username" id="notVisibleInput" value="<%=wallet[0].userID%>">
            <input type="number" name="amount" id="indexInputNumber" placeholder="Miktar ₺ (500)">
            <input type="submit" value="Talep Oluştur" id="indexInputSubmit">
         </form>
    </section>

    <section class="alisverisListem">
        <h3>Geçmiş Bakiye Güncelleme Talepleri</h3>    
        <table>
            <tr>
              <th>Talep Edilen Bakiye</th>
              <th>Durum</th>
            </tr>
            <% wallet.forEach(wallet => { 
              if(!wallet.verified) 
                var status = 'Onay Bekliyor'
              else 
                var status = "Onaylandı"
              %>
              <tr>
                <td><%=wallet.amount %>₺</td>
                <td><%=status%></td>
              </tr>
            <% }) %>
            
          </table>
    </section>

    
</body>
</html>